.edit-button {
    border-color: #00bc77;
    background-color: #00bc77;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
  }
  
  .header {
    color: #fff;
    margin-bottom: 2rem;
  }

  