.sign-in-content {
  box-sizing: border-box;
  background-color: white;
  width: 300px;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 2rem;
}

.div {
  display: flex;
  flex: 1;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 80vh;
}
