.account {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    background-color: #fff;
    width: 80%;
    margin: 0 auto;
    flex-direction: column;
    padding: 1.5rem;
    box-sizing: border-box;
    text-align: left;
    margin-bottom: 2rem;
    }

    .accountAmountDescription {
            margin: 0;
    }

    .accountAmount {
        margin: 0;
        font-size: 2.5rem;
        font-weight: bold;    
    }

    .accountTitle {
        margin: 0;
        padding: 0;
        font-size: 1rem;
        font-weight: normal;
    }
    
    .accountContentWrapper {
        width: 100%;
        flex: 1;
    }


  
  
  @media (min-width: 720px) {
    .account {
      flex-direction: row; 
    }
    .accountContentWrapperCta {
          flex: 0;
    }
    .transactionButton {
      width: 200px;
    }
  }