.signInButton {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        display: block;
        width: 100%;
        padding: 10px;
        font-size: 1.1rem;
        font-weight: bold;
        margin-top: 1rem;
        background-color: #00bc77;
        color: #fff;
        border: none;
        text-decoration: underline;
    }

.inputRemember {
    display: flex;
    }

.inputRemember label {
        margin-left: 0.25rem;
    }
  
.inputWrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 1rem;   
    }
    
.inputWrapper label {
        font-weight: bold;
    }

    .inputWrapper input {
        padding: 5px;
        font-size: 1.2rem;
    }
.errorWrapper {
    display: none;
}
.errorTrue{
    display: block;
}

.errorMessage{
    color: red;
	margin-top: 5px;
	margin-bottom: 15px;
}
  
  
  
  