
.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
  }
  
  .main-nav a {
    font-weight: bold;
    color: #2c3e50;
  }
  
  .main-nav a.router-link-exact-active {
    color: #42b983;
  }
  
  .main-nav-item {
    text-decoration: none;
    margin-right: 0.5rem;
  }
  
  .main-nav-item:hover {
    text-decoration: underline;
  }
  
  .main-nav-logo {
    display: flex;
    align-items: center;
  }
  
  .main-nav-logo-image {
    max-width: 100%;
    width: 200px;
  }

  .sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important; /* 2 */
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important; /* 3 */
  }